[Desktop Entry]
Version=1.0
Name=BTRFS snapshots manager
Name[ar]=مدير لقطات BTRFS
Name[bg]=BTRFS мениджър на моментни снимки
Name[bn]=BTRFS স্ন্যাপশট ম্যানেজার
Name[bs]=BTRFS menadžer snimaka
Name[cs]=Správce snímků systému BTRFS
Name[da]=BTRFS snapshots manager
Name[de]=BTRFS-Snapshot-Manager
Name[el]=Διαχειριστής στιγμιότυπων BTRFS
Name[en]=BTRFS snapshots manager
Name[eo]=BTRFS momentfotomanaĝero
Name[es]=Gestor de instantáneas BTRFS
Name[et]=BTRFS snapshotide haldur
Name[fa]=مدیر عکس های فوری BTRFS
Name[fi]=BTRFS-tilannekuvien hallinta
Name[fr]=Gestionnaire d'instantanés BTRFS
Name[ga]=BTRFS-tilannekuvien hallinta
Name[gu]=BTRFS સ્નેપશોટ મેનેજર
Name[hi]=BTRFS स्नैपशॉट प्रबंधक
Name[hr]=BTRFS upravitelj snimki
Name[hu]=BTRFS pillanatfelvételek kezelője
Name[id]=Manajer snapshot BTRFS
Name[it]=Gestione delle istantanee BTRFS
Name[ja]=BTRFSスナップショットマネージャー
Name[kn]=BTRFS ಸ್ನ್ಯಾಪ್‌ಶಾಟ್‌ಗಳ ನಿರ್ವಾಹಕ
Name[ko]=BTRFS 스냅샷 관리자
Name[lt]=BTRFS momentinių kopijų tvarkyklė
Name[lv]=BTRFS momentuzņēmumu pārvaldnieks
Name[ml]=BTRFS സ്നാപ്പ്ഷോട്ട് മാനേജർ
Name[mr]=BTRFS स्नॅपशॉट व्यवस्थापक
Name[ms]=Pengurus syot kilat BTRFS
Name[mt]=Maniġer ta' snapshots BTRFS
Name[nb]=BTRFS-håndtering av øyeblikksbilder
Name[nl]=BTRFS-snapshotsbeheer
Name[pa]=BTRFS ਸਨੈਪਸ਼ਾਟ ਮੈਨੇਜਰ
Name[pl]=Menedżer migawek BTRFS
Name[ps]=د BTRFS سنیپ شاټونو مدیر
Name[ro]=Manager de instantanee BTRFS
Name[ru]=Менеджер моментальных снимков BTRFS
Name[sk]=Správca snímok BTRFS
Name[sr]=БТРФС менаџер снимака
Name[sv]=Hanterare av BTRFS-snapshot
Name[sw]=Meneja wa picha za BTRFS
Name[ta]=BTRFS ஸ்னாப்ஷாட் மேலாளர்
Name[te]=BTRFS స్నాప్‌షాట్‌ల మేనేజర్
Name[th]=ตัวจัดการสแนปชอต BTRFS
Name[tr]=BTRFS anlık görüntü yöneticisi
Name[uk]=Менеджер знімків BTRFS
Name[vi]=Trình quản lý ảnh chụp nhanh BTRFS
Name[yo]=Менеджер знімків BTRFS
Name[zh]=BTRFS 快照管理器
Type=Application
Comment=Create, delete, list and restore BTRFS snaphots
Comment[fr]=Créer,lister, restaourer et supprimer des instanés BTRS
Terminal=true
Exec=gnsu absm
Icon=emblem-synchronizing
Categories=System;Settings;
